.header{
    border-bottom: 3px solid white;
    background-image: linear-gradient(lightblue, #2F4F4F);
    z-index: 2;
    
    &.fixed{
        position: fixed;
        width: 100%;

        .nav-wrapper{
            height: 100vh;
        }
    }
}

.header-container{
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 10px;
}

.social-media-icons{
    @include breakpoint(gamma){
        a{
            padding: 0 6px;
        }
        font-size: 20px;
    }
}

.header-info{
    min-height: 60px;
    line-height: 60px;
    border-bottom: 1px solid $color-white;
    font-size: 20.8px;
    font-family: 'Montserrat-Regular';
    text-transform: uppercase;
    .header-container{
        @include flexbox;
        @include flex-wrap(nowrap);
        @include justify-content(space-around);

        @include breakpoint(gamma){
            display: block;
        }
    }

    @include breakpoint(alpha){
        font-size: 16px;
        min-height: 40px;
        line-height: 40px;
    }
    
    @include breakpoint(beta){
        font-size: 13px;
        min-height: 30px;
        line-height: 30px;
    }

    @include breakpoint(gamma){
        border-top: 1px solid $color-white;
    }

    .link-group{
        @include breakpoint(gamma){
            display: block;      
        }
    }
}

.header-nav{
    min-height: 160px;
    line-height: 160px;  

    @include breakpoint(alpha){
        min-height: 130px;
        line-height: 130px; 
    }

    @include breakpoint(beta){
        min-height: 110px;
        line-height: 110px; 
    }

    @include breakpoint(gamma){
        min-height: 100px;
        line-height: 100px; 
    }

    i.fa-bars{
        color: $color-white;
        display: none;

        @include breakpoint(gamma){
            display: inline-block;
            float: right;
            line-height: 100px;
            margin-right: 20px;
            font-size: 40px;
        }
    }

    .nav-wrapper{
        display: inline;
        @include breakpoint(gamma){
            display: none;
            position: absolute;
            height: 100%;
            width: 300px;
            top: 0;
            right: 0;
            z-index: 9999;
            background-color: $dark-blue;
            box-shadow: -5px 0px 20px $color-white;
            padding: 20px 5px 0 10px;
        }
    }

    img{
        max-width: 450px;

        @include breakpoint(alpha){
            max-width: 310px; 
        }
    
        @include breakpoint(beta){
            max-width: 270px; 
        }
    
        @include breakpoint(gamma){
            max-width: 300px; 
        }

        @include breakpoint(delta){
            max-width: 250px; 
        }

        @include breakpoint(epsilon){
            max-width: 220px; 
        }
    }

    nav{
        display: inline-block;
        font-size: 20.8px;
        

        @include breakpoint(alpha){
            font-size: 17px; 
        }
    
        @include breakpoint(beta){
            font-size: 13px; 
        }
    
        @include breakpoint(gamma){
            font-size: 20px; 
            float: none;
            width: 100%;
        }

        li{
            font-family: 'Anton-Regular';
            display: inline;
            text-transform: uppercase;
            color: $mid-brown;
            cursor: pointer;
            padding-right: 10px;

            a{
                color: darkslategray;

                @include breakpoint(gamma){
                    display: block;
                }
            }

            @include breakpoint(alpha){
                padding: 0 8px; 
            }

            @include breakpoint(beta){
                padding: 0 6px; 
            }

            @include breakpoint(gamma){
                display: block;
                line-height: 40px;
                width: 100%;
            }

            &.active,
            &:hover{
                border: 1px solid $color-white;
                a{
                    color: $color-white; 
                }
            }
        }
    }
}