$dark-blue: 	#091f40;
$color-white: 	#fff;
$color-black: 	#000;
$color-silver:	#c2c4c6;
$color-gold:	#ab6c11;
$dark-brown:	#281312;
$mid-brown:     #dcae7e;
$mid-grey:      #6d6d6d;
$light-blue:    #e9e9ea;
